body, html {
    padding: 0;
    margin: 0;
}

.map-container {
    width: 100%;
    height: 700px;
}

.leaflet-control-geocoder {
    font-size: 16px;
    font-family: system-ui;
    padding: 3px;
    width: 320px;
}

.leaflet-control-geocoder-alternatives{
    width: 100%;
}